* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #356457;
            
}

a {
    text-decoration: none;
    color: black;
}


section {

}

footer {
    align-items: center;
    text-align: center;
    background-color: #48A46B;
    justify-content: space-between;
}

body main section .container{
    
    margin: 50px auto 0px;
    display: block;
    width: max-content;

}

body main section .container .left  {

    display: inline-block;
    vertical-align: middle;
 
 }

body main section .container .right {

    display: inline-block;
    vertical-align: middle;
}

.entrega-boot1 {
    color: red;
    text-decoration-line: underline;
}

.entrega-boot2{
    color: red;
    text-decoration-line: underline;
}

/* -------- Estilos de la pagina propios-------- */

/* --------inicio del header-------- */
header {
    height: 80px;
    position:relative;
    z-index: 999 ;
    }


header .logo-container{
    display: flex;
    align-items: center;
}

header .logo, .navbar-brand{
    max-width: 70px;
    margin-right: 10px;
}

header .logo img, .navbar-brand img{
    width: 100%;
}

.navboot {
    background-color: #48A46B;
}

.no-bootstrap header {
    display: flex;
    justify-content: space-between;
    background-color: #48A46B;
    align-items: center;
    padding: 0px 100px;
}

/*.navboot a {
    font-size: medium;
    font-weight: 600px;
    justify-content: end;
}*/


header nav a {
    font-weight: 600px;
}

header .nombreempresa {
    width: auto
}

main{
    padding-top: 20px;
}


/* --------inicio del footer-------- */

footer .redes-sociales ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 14px 4px 8px 4px;
}

footer .redes-sociales ul li a img{
    width: 40px;
    height: auto;
}

footer div.copi {
    text-align: center;
    padding-bottom: 14px;
}




/* --------inicio del main - home-------- */

body.home main{

}

body.home main section{
 height: 100vh;
}
body.home main section .container{
    margin: 150px auto 0px;
    display: block;
    width: max-content;
}

body.home main section .container .left{
    display: inline-block;
    vertical-align: middle;
}

body.home main section .container .left figure{
    align-items: center;
    margin-right: 40px;
}

body.home main section .container .right{
    display: inline-block;
    vertical-align: middle;

}


/* --------inicio del main - nosotros-------- */
body.nosotros-page main section {

    height: 500pv;
    
}


 body.nosotros-page main section .container .left .textinfo  {

    width: 816px;
    height: 413px;
    background-color: gray;
    display: table;
        
}

body.nosotros-page main section .container .left .textinfo p  {

    text-align: center;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}


body.nosotros-page main section .container .left h1 {

    font-size: 64px;
    margin: 0 0 80px 20px;
    
}



body.nosotros-page main section .container .right figure img {

    width: 500px;
    height: auto;
    
}



/* --------inicio del main - productos-------- */
body.productos-page main{

    height: 500pv;    

}

body.productos-page main section .container {

    margin: 50px auto 0px;
    display: block;
    width: max-content;

}

body.productos-page main section .container .left {

    display: inline-block;
    vertical-align: middle;

}

body.nosotros-page main section .container .left .textinfo  {

    width: 816px;
    height: 413px;
    background-color: gray;
    display: table;
        
}

body.productos-page main section .container .left h1 {

    font-size: 64px;

}

body.productos-page main section .container .left h1 figure img {

    width: 684px;
    height: 426px;

}




/* --------inicio del main - servicios-------- */
body.servicios-page main{

}






/* --------inicio del main - contactanos-------- */
body.contactanos-page main section .container .left .titulo h1 {

    margin: 0 600px 50px 0;
    font-size: 64px;

}

body.contactanos-page main section .container .left .formulario {

    background-color: gray;
    padding: 50px 50px 50px 50px;
    margin-bottom: 100px;
    font-size: 22px;

}

body.contactanos-page main section .container .left .formulario ul {

    list-style: none;

}

body.contactanos-page main section .container .left .formulario ul li input.boton {

    background-color: blue;
    font-size: 40px;
    margin: 50px 0 0 auto;
    color: white;
    padding: 20px;
    display:block;
    ;

}



/* ESTA ES LA PARTE NUEVA DE NOSOTROS */





.main-nosotros section {
    justify-content: space-between;
    align-items: safe;
}

.titulo-nosotros {
    height: 400px;
    width: 300px;
    padding-left: 150px;
}

.titulo-nosotros h1 {
    font-size: 450%;
    }
        

.textoinformativo-nosotros {
    height: 80px;
    width: 500px;
    padding-left: 0px;
    padding-right: 0%;
}

.fotos-medio-nosotros1  {
    height: 400px;
    width: 845px;
       
}

.fotos-medio-nosotros2  {
    height: 234px;
    width: 845px;    
}


.footer.nosotros {
    align-items: center;
    text-align: center;
    background-color: gray;
    justify-content: space-between;
    }

    /* ESTA ES LA PARTE NUEVA DE PRODUCTO */

    .body-productos {
        font-family: sans-serif;
        margin: 0%;
        padding: 0%;
        background-color: gray;
                
    }
    
    .header-productos {
        display: flex;
        justify-content: space-between;
        min-height: 70px;
        background-color: gray;
        align-items: center;
        padding: 10px;
        }
    
    .main-productos {                   
            background-color: wheat
        }
    
        
    .logo-productos {
        display: flex;
        align-items: center;
    }    
    
    .nombreempresa-productos {
        width: auto
        
    }
    
    .logo-productos img {
        height: 50px;
        margin-right: 10px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    
    .menu-productos {
        font-weight: 600px;
            }
    
    /* Aqui arranca el main productos */

    .main-productos section {
        justify-content: space-between;
        align-items: safe;
    }
    
    .titulo-productos {
        height: 400px;
        width: 300px;
        padding-left: 150px;
    }
    
    .recuadrodescriptivo-productos {
        height: 684px;
        width: 426px;
        

    }

    .imgmercadolibre-productos {
        height: 383px;
        width: 624px;
                        
    }
            
        
    .footer.productos {
    align-items: center;
    text-align: center;
    background-color: gray;
    justify-content: space-between;
    }


    .card {
        height: 100%;
    }